<div class="row">
  <div class="col s6 offset-s3">
  	<h5>Congratulations! You have created an agreement successfully.</h6>
  	<p>Now, You send a <span><code class="javascript font-chalkboard font-rem-2"><%= agreement.http_method %></code></span> request to</p>
  	<pre><code class="javascript font-chalkboard font-rem-2">http://<%= domain %><%= agreement.url %></code></pre>
  	<p>You will get an response:</p>
  	<pre><code class="javascript font-chalkboard font-rem-2"><%= agreement.response %></code></pre>
  </div>	
</div>
