<div class="row">
  <h3 class="col s6 offset-s3">Add Agreement</h3>
</div>
<div class="row">
<%=
  form_for :agreement, '/agreements', class: 'col s6 offset-s3' do
  	div class: 'row' do
      div class: 'col s12' do
        div class: 'input input-field' do
          
          text_field :url, class: 'red-text text-lighten-1 font-rem-2'
          label :url
        end
      end
    end

  	div class: 'row' do
      div class: 'col s3' do
        div class: 'input input-field' do
          values = Hash['GET' => 'GET', 'POST' => 'POST', 'PUT' => 'PUT', 'PATCH' => 'PATCH', 'DELETE' => 'DELETE', 'TRACE' => 'TRACE']
          select :http_method, values, class: 'red-text text-lighten-1 font-rem-2'
          label :http_method
        end
      end
    end

  	div class: 'row' do
      div class: 'col s12' do
        div class: 'input input-field' do
          text_area :response, class: 'materialize-textarea red-text text-lighten-1 font-rem-2'
          label :response
        end
      end
    end

  	div class: 'row' do
      div class: 'col s12' do
        div class: 'controls' do
          submit 'Create Agreement', class: 'btn btn-large waves-effect waves-light light-green darken-1'
        end
      end
    end
  end
%>
</div>

